@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&family=Urbanist:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Urbanist', sans-serif;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}